.logout-navbar {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logout-blog {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;

}

.logout-button {

    font-weight: bold;
    font-size: 13px;
}

.logout-button-name-1 {
    margin-right: 40px;
    margin-left: 20px;

}

.logout-button-name-2 {
    margin-right: 20px;
    margin-left: 40px;

}

.logout-post {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logout-heading {
    font-weight: bold;
    font-size: 30px;

}

.create-new-post {
    background-color: navy;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;

}

.publish {
    margin-top: 10px;
}

.mid-section {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.lorem {
    border: 1px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}

.hello {
    font-size: 30px;
    font-weight: bold;
}

.logout-by {
    margin-top: 10px;
}

.thumbs-button {
    margin-top: 20px;
}

.thumbs-up-button {
    background-color: darkgreen;
    color: white;
    border: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 7px;

}

.thumbs-down-button {
    background-color: yellow;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;

}

.footer-copy {
    text-align: center;
    padding: 10px;
    margin-top: 55px;
}

.footer-right {
    background-color: #6e6e6e;
}