.section1 {
    width: 25%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
}

.blog {
    font-weight: bold;
    font-size: 25px;
}

.register {
    text-align: center;
    color: navy;
    font-weight: bold;
    font-size: 20px;
}

.first-name {
    margin-top: 5px;
    width: 94%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: white;
}

.test-1 {
    margin-top: 5px;
    width: 94%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: white;
}

.Res-button {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 100%;
    background-color: navy;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

a {
    color: white;
}

