.section2 {
    width: 25%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e0e0e0;
}

.head-name {
    font-weight: bold;
    font-size: 25px;
}

.login {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: navy;
    font-weight: bold;
    font-size: 25px;
}

.test {
    margin-top: 5px;
    width: 94%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: white;
}

.test-login-name{
    width: 94%;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: white;
}

.mid {
    margin-top: 20px;
}

.login-button-2 {
    margin-top: 25px;
    margin-bottom: 60px;
    width: 100%;
    background-color: navy;
    padding: 10px;
    border-radius: 7px;
    border: none;
    color: white;

}
.login-error{
    color: red;
    margin-top: 10px;
    text-align: center;
}
.invalid-input {
    border: 2px solid red;
}
.login-button-2:disabled{
    opacity: 0.5;
    cursor: not-allowed;

}


